*Gerber*
*Render*
*production

*.zip

*.gbr
*.gto
*.gts
*.gtl
*.gm1
*.gbo
*.gbl
*.gbs
*.drl
*.lck
Lotus 58 USB-C/v1.40/#auto_saved_files#
Lotus 58 USB-C/v1.40/#auto_saved_files#
_autosave*
Lotus 58 USB-C/v1.51/\#auto_saved_files\#
*#auto_saved_files#
